html {
    scroll-behavior: smooth;
}

/* different sections */

#home {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(StanLee.JPG);
    background-size: cover;
    background-position: center;
}

#projects {
    width: 100%;
    padding: 40px 0;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Stanford.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    align-content: center;
    min-height: 100vh;
    padding: 20px;
    gap: 20px;
}

#experience {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(Stanford.jpg);
    background-size: cover;
    background-position: center;

    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    align-items: center; 
    align-content: center;
    min-height: 100vh;
    padding: 20px;
    gap: 20px;
}

.navbar {
    margin: right;
    padding: 25px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
    position: fixed; 
    top: 0;

    z-index: 1;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 10px;
    position: relative;
}

.navbar ul li a {
    font-family: "Poppins";
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 2px;
    width: 0;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.center {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: white;
    font-family: "Poppins";
}

.center p a {
    color: white;
}

.center p a:visited, .center p a:hover, .center p a:active {
    color: white;
}

.fade-in-text {
    animation: fadeIn 1.5s;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

/* project section classes */

.card {
    width: calc(33% - 20px);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 16px;
    margin-top: 16px;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    color: white;
    font-family: "Poppins";
}

.card-link {
    color: #CD7F32;
    text-decoration: none;
    font-family: "Poppins";
}

.card-link:hover {
    text-decoration: underline;
}
